<html>
  <head>
    <title>FestU</title>
  </head>

  <body>
    <h1>
      <pre>
                                        IT's MY first Test WEB Page
      </pre>
    </h1>

    <pre>
      <div>
        <h1>



                                            HELLO, MAZAFAKA!!!

                                            <img
         src="https://www.meme-arsenal.com/memes/4eb6da87f4b03f3e651ac06d895098e0.jpg"
          alt="тут должна была быть картинка.. но я криворукий"/>
        </h1>
      </div>



    </pre>
    </h2>

  </body>
</html>
